<h1>商品新規登録</h1>
<%= form_with model:@items, local:true do |f| %>
  <div>
    <%= f.label :image, "商品画像" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :introduction, "説明" %>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.label :genre, "カテゴリー" %>
    <%= f.text_field :genre %>
  </div>
  <div>
    <%= f.label :price, "税抜価格" %>
    <%= f.text_field :price %>
  </div>
  <%= f.submit "作成確定" %>
<% end %>