<h1>ジャンル一覧</h1>
<%= form_with model: @genre, local: true do |f| %>
  <%= f.label :name, "ジャンル名" %>
  <%= f.text_field :name %>
  <%= f.submit "作成" %>
<% end %>


<% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to '詳細',edit_genre_path(genre.id), class: "btn btn-success"%>
<% end %>