<!DOCTYPE html>
<html>
  <head>
    <title>Renryuken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container mt-3">
      <%= yield %>
    </div>
    <footer><%= link_to"©︎renryuken", new_admin_session_path %></footer>
  </body>
</html>
